@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply outline-1 outline-red-500;
}

body {
  @apply bg-neutral-900 text-neutral-content h-screen w-screen;
}

* {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 900; */
  font-variation-settings:
    "slnt" 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-pattern-gradient {
    background-image: linear-gradient(to right, #6347FA, #EDE9FE);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
